@import url(theme.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

flex{
    display: flex;
}

button{
    height: 40px;
    width: 100px;
    margin: 10px;
    text-decoration: none;
}

#anh-bia{
    border: 1px solid white;
    --height: 400px;
    height: var(--height);
    width: calc(var(--height)*(3/4));
    /*margin: 10px;*/
    border-radius: 5px;
}

#anh-bia img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.thong-tin{
    color: white;
    display: flex;
    /*border: 1px solid white;*/
    --height: 200px;
    /*height: var(--height);*/
    width: 700px;
    margin: 10px;

    flex-direction: column;
}

.thong-tin div{
    /*border: 1px solid black;*/
    margin: 10px;
    font-size: 20px;
}

/*#doc{
    width: 5000px
}*/

#khung-bao-dau{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    /*border: 1px solid white;*/
    flex-wrap: wrap;
    margin-top: 10px;
}

#khung-doc{
    display: flex;
    width: 1200px;
    height: 93%;
    border: transparent;
    padding: 10px 0 10px 0;
    border-radius: 5px
    /*padding-top: 10px;*/
}

.display{
    display: flex;
}

footer{
    height: 300px;
    width: 100%;
    background-color: grey;
}

.content {
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 60px;
}

.sticky + .content {
  padding-top: 60px;
}
.extra{
    color: white;
    display: flex;
    /*border: 1px solid white;*/
    --height: 2000px;
    height: var(--height);
    width: 1600px;
    margin: 10px;

    flex-direction: column;
}